@import url('https://fonts.googleapis.com/css2?family=Jaro&family=Libre+Baskerville');


body {
    font-family: 'Libre Baskerville', sans-serif;
}

h1 {
    font-family: 'Jaro', sans-serif;
}

h2 {
    font-family: 'Libre Baskerville', sans-serif;
    
}

