---
import User from "./icon/User.astro"
---

<div class="flex items-center gap-3 mb-10">
    <User class="text-yellow-400 md:w-10 md:h-10" />
    <h2 class="text-yellow-400 text-2xl md:text-4xl font-semibold">Sobre mí</h2>
</div>

<div class="space-y-6 text-lg text-slate-200 font-semibold">
    <p class="">
        Soy Licenciado en Análisis de Sistemas y Desarrollador Fullstack con una gran pasión por la tecnología. Me especializo en construir soluciones digitales innovadoras y eficientes que respondan a las necesidades reales de los usuarios.
    </p>

    <p>
        Mi enfoque profesional se apoya en el aprendizaje continuo, la adaptabilidad y la mejora constante. Me impulsa una curiosidad natural por las nuevas tecnologías y metodologías de trabajo, lo que me permite mantenerme actualizado en un entorno en constante evolución. Cada desafío representa para mí una oportunidad de crecimiento, tanto técnico como humano.
    </p>

    <p>
        Valoro profundamente el trabajo en equipo, la comunicación clara y la colaboración con otros profesionales apasionados. Creo que los mejores resultados surgen del intercambio de ideas, la empatía y el compromiso compartido con la excelencia.
    </p>

    <p>
        Actualmente me encuentro en la búsqueda de nuevas oportunidades que me permitan seguir desarrollándome, aportar mi experiencia y conocimientos, y formar parte de proyectos significativos que generen un impacto positivo en las personas y en la sociedad. Estoy listo para asumir nuevos retos y contribuir activamente al éxito de cualquier equipo o empresa con visión de futuro.
    </p>

</div>