---
import LinkedInIcon from "./icons/LinkedIn.astro"
import GitHubIcon from "./icons/GitHub.astro"
import GmailIcon from "./icons/Gmail.astro"
---
<div class="p-6 ">
    <ul class=" flex flex-row gap-12">
        <li class="" id="contact">
            <a href="https://www.linkedin.com/in/mardoqueo-florent%C3%ADn-5926191a7/" class="">
                <LinkedInIcon class="w-11" />
                <p class="mt-2 text-center">LinkedIn</p>
            </a>
        </li>
        
        <li class="">
            <a href="https://github.com/MardoqueoZ" >
                <GitHubIcon class="w-11"/>
                <p class="mt-2 text-center">GitHub</p>
            </a>
        </li>
        
        <li>
            <a href="#" class="">
                <GmailIcon class="w-11"/>
                <p class="mt-2">Gmail</p>
            </a>
        </li>
    </ul>
</div>
