---
import LinkedInIcon from "./icons/LinkedIn.astro";
import GitHubIcon from "./icons/GitHub.astro";
import GmailIcon from "./icons/Gmail.astro";
---
<div class="p-6 ">
    <ul class=" flex flex-row gap-12 justify-center">
        <li class="transform transition-transform duration-300 hover:scale-105" id="contact">
            <a href="https://www.linkedin.com/in/mardoqueo-florent%C3%ADn-5926191a7/"  target="_blank">
                <LinkedInIcon class="w-11 text-black dark:text-gray-300" />
                <p class="mt-2 text-black dark:text-gray-300">LinkedIn</p>
            </a>
        </li>
        
        <li class="transform transition-transform duration-300 hover:scale-105 text">
            <a href="https://github.com/MardoqueoZ" target="_blank">
                <GitHubIcon class="w-11 text-black dark:text-gray-300"/>
                <p class="mt-2 text-center text-black dark:text-gray-300">GitHub</p>
            </a>
        </li>
        
        <li class="transform transition-transform duration-300 hover:scale-105">
            <a href="mailto:mardoqueo.zotelo@gmail.com" class="" target="_blank">
                <GmailIcon class="w-11 text-black dark:text-gray-300"/>
                <p class="mt-2 text-black dark:text-gray-300">Gmail</p>
            </a>
        </li>
    </ul>
</div>
