
<header class="w-full md:w-auto fixed md:right-20 bg-gray-50 text-black opacity-70 dark:text-white dark:bg-black dark:opacity-50 top-0 z-10 rounded-2xl mt-1 py-2 md:text-2xl flex justify-between items-center" id="header">
    <nav class="flex flex-row gap-5 h-12 p-2" id="menu">
        <a href="/#inicio">Inicio</a>
        <a href="/#proyectos">Proyectos</a>
        <a href="/#tecnologias">Tecnologías</a>
        <a href="/#sobreMi">Sobre mí</a>
    </nav>
    <button id="theme-toggle" class="text-black dark:text-white  px-4 py-2 rounded-lg"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-brightness"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 3.34a10 10 0 1 1 -15 8.66l.005 -.324a10 10 0 0 1 14.995 -8.336m-9 1.732a8 8 0 0 0 4.001 14.928l-.001 -16a8 8 0 0 0 -4 1.072" /></svg></button>
</header>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const themeToggleBtn = document.getElementById('theme-toggle');
        const html = document.documentElement;

        if (themeToggleBtn) {
            themeToggleBtn.addEventListener('click', () => {
                if (html.classList.contains('dark')) {
                    html.classList.remove('dark');
                    localStorage.setItem('theme', 'light');
                } else {
                    html.classList.add('dark');
                    localStorage.setItem('theme', 'dark');
                }
            });

            // Mantener el tema al recargar la página
            if (localStorage.getItem('theme') === 'dark') {
                html.classList.add('dark');
            } else {
                html.classList.remove('dark');
            }
        }
    });
</script>
