<header class="fixed bg-black top-0 z-10 flex items-center center md:right-12 rounded-2xl mx-2  md:mx-4 px-4 mt-1 md:text-2xl" id="header">
    <nav class="flex flex-row gap-5 h-12 p-2" id="menu">
        <a href="/#inicio">Inicio</a>
        <a href="/#proyectos">Proyectos</a>
        <a href="/#tecnologias">Tecnologías</a>
        <a href="#">Sobre mí</a>
    </nav>
</header>

