---
import TechIcon from "./icons/TechIcon.astro";
import Html from "./icons/tech/html.astro";
import Css from "./icons/tech/css.astro";
import Js from "./icons/tech/js.astro";
import Python from "./icons/tech/python.astro";
import Django from "./icons/tech/django.astro";
import React from "./icons/tech/react.astro";
import Tailwind from "./icons/tech/tailwind.astro";
import Bootstrap from './icons/tech/bootstrap.astro';
import PostgreSql from "./icons/tech/postgresql.astro";
import MySql from './icons/tech/mysql.astro';

let TECHS = [
    {
        title: "HTML5",
        icon: Html,
    },
    
    {
        title: "CSS",
        icon: Css,
    },
    
    {
        title: "JavaScript",
        icon: Js,
    },
    
    {
        title: "Python",
        icon: Python,
    },
    
    {
        title: "Django",
        icon: Django,
    },
    
    {
        title: "React.JS",
        icon: React,
    },
    
    {
        title: "Tailwind CSS",
        icon: Tailwind,
    },
    
    {
        title: "Bootstrap",
        icon: Bootstrap,
    },
    
    {
        title: "PostgreSQL",
        icon: PostgreSql,
    },
    
    {
        title: "MySQL",
        icon: MySql,
    },
]
---


<div class="flex flex-col px-2 text-center md:text-left mt-6 md:mt-15 m-5 gap-y-6">
    <div class="flex items-center text-2xl md:text-5xl font-bold text-blue-900 dark:text-blue-500">
        <i class="mr-2">
            <TechIcon class="size-6 md:size-12" />
        </i>
        <h1>Tecnologías</h1>
    </div>
    
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {
          TECHS.map(tech => (
            <div class="flex flex-col items-center max-w-sm rounded overflow-hidden shadow-lg dark:bg-gray-800 bg-gray-100 p-4 text-center transform transition-transform duration-300 hover:scale-105">
              <span class="flex flex-col items-center justify-center text-black dark:text-white">
                <tech.icon class="size-24" />
                {tech.title}
              </span>
            </div>
          ))
        }
    </div>
      
</div>
