---
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Project from '../components/Projects.astro'
import Tech from '../components/Tech.astro';
import '../styles/layouts.css';
import '@fontsource-variable/onest';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolios</title>
</head>
<body>
    <div class="fixed top-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
    <Header />
    <div class="pl-4 pr-4 md:pl-24 md:pr-24" id="inicio">
        <main>
            <section class= "flex flex-col md:flex-row px-2 text-center md:text-left mt-8 md:mt-20" >
                <Hero />
            </section>
            
            <section id="proyectos">
                <Project />
            </section>
            
            <section id="tecnologias">
                <Tech />
            </section>
        </main>
    </div>
    

</body>
</html>